
@media only screen and (min-width: 1200px) {
    #trangChu{
        padding-left: 30px;
    }
    .navbar {
        position: absolute;
    }

    .btnBookNow {
        color: white;
        margin-top: -400px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        background-color: #362516 !important;
        border-color: #362516 !important;
        background-image: none !important;
    }

    .menuright {
        margin-top: 0px;
        padding-top: 0px;
    }

    .menuleft {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .bannerDecription {
        margin-bottom: 300px;
        text-align: justify;
        margin-left: -300px;
        background-color: rgba(249, 252, 233, 0.5);
    }

    .myh3h4 {
        margin-left: 200px;
        color: #362516;
    }

    #btnreadmore {
        margin-top: 5px;
        color: white !important;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        background-color: #362516;
        border-color: #362516;
        background-image: none !important;
    }
    #langue{
        width:100px;
    }

}
@media (width:1024px){
    #trangChu{
        padding-left: 30px;
    }
    #img_top_img{
        width:100%;
        height: auto;
    }
    #img_mid_bottom_img{
        width:100%;
        height: auto;
        margin-left: 0px;
    }
    #img_left_bottom_img{
        width:100%;
        height: auto;
    }
    #img_right_bottom_img{
        width:100%;
        height: auto;
        margin-left: 0px;
    }
    #img_right_img{
        width:100%;
        height: auto;
        margin-left: 10px;
    }
    #img_left_img{
        width:100%;
        height: auto;
        margin-right: 10px;
        margin-left: 10px;
    }
    .bannerDecription {
        margin-bottom: 150px;
        width: 600px;
        text-align: justify;
        margin-left: -250px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: rgba(249, 252, 233, 0.5);
    }
}
/* Smaller than standard 1200 */

@media (max-width: 991px) {
    #trangChu{
        padding-left: 30px;
    }
    #screen_send{
        margin-left: 0px!important;
        margin-top: 0px!important;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in  {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
/* Smaller than standard 1200 */
@media only screen and (max-width: 1199px) {
    #langue{
        width:100px;
    }
}
/* Between 992 and 1199 */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    @media (min-width: 992px) {
        .nav-tabs.nav-justified > li {
            display: table-cell;
            width: 1%;
        }
        .nav-tabs.nav-justified > li > a {
            margin-bottom: 0;
        }
        #trangChu{
            padding-left: 30px;
        }
    }
}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
    #trangChu{
        padding-left: 15px;
    }
    #screen_send{
        margin-left: 0px!important;
        margin-top: 0px!important;
    }
    .navbar {
        position: relative !important;
    }
    .navbar-nav > li > a {
        color: black !important;
    }
    .navbar-custom{
        background-color: white !important;
    }
    #menuright{
        margin-top: 0px;
        padding-top: 0px;
    }
    #menuleft {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    #contentslide{
        display: none;
    }
    #row_so {
        background-image: url('../img/bg_img.jpg');
        width: 100%;
        height: 800px;
        /*background-repeat: no-repeat;*/
        margin-left: 0px;
        margin-right: 0px;
    }
    .res-display{
        position: absolute;
        top: -20px;
        left: 0px;
        width:30%;
    }
    #res-ourvideo{
        margin-top: 0px;
    }
    .chuthich{
        display: none;
    }
    #logo {
        width: 40%;
        margin-left: 25px;
    }
    .navbar-toggle {
        border: 2px solid #372618 !important;
    }
    .navbar-toggle span {
        border: 2px solid #372618 !important;
    }
    .btnBookNow {
        color: white;
        margin-top: -400px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        background-color: #362516 !important;
        border-color: #362516 !important;
        background-image: none !important;
    }

    #btnreadmore {
        margin-top: 5px;
        color: white !important;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        background-color: #362516;
        border-color: #362516;
        background-image: none !important;
    }

    .bannerDecription {
        margin-bottom:0px;
        text-align: justify;
        margin-left: -200px;
        background-color: rgba(249, 252, 233, 0.5);
    }
    .myh3h4 {
        margin-left: 200px;
        color: #362516;
    }
    .myh3{
        font-size: 13px;
    }
    .myh4{
        font-size: 12px;
    }
    #img_top_img{
        width:100%;
        height: auto;
    }
    #img_mid_bottom_img{
        width:100%;
        height: auto;
        margin-left: 0px;
    }
    #img_left_bottom_img{
        width:100%;
        height: auto;
    }
    #img_right_bottom_img{
        width:100%;
        height: auto;
        margin-left: 0px;
    }
    #img_right_img{
        width:100%;
        height: auto;
        margin-left: 10px;
    }
    #img_left_img{
        width:100%;
        height: auto;
        margin-right: 10px;
        margin-left: 10px;
    }
    #disp{
        display:none;
    }
    .resort_item .div-img{
        padding-left: 0px;
        width:50%;
    }
    .resort_info{
        padding-right: 0px;
        position: relative;
        float:left;
        margin-bottom: 40px;
    }
    .btnreadmore{
        position: absolute;
        bottom: 0px;
        margin-bottom: -20px;
    }
    .resort_item{
        clear: both;
    }
}
@media(width: 768px)
{
    #trangChu{
        padding-left: 15px;
    }
    .navbar-toggle {

        border: 2px solid #372618 !important;
    }
    .navbar-toggle span {
        border: 2px solid #372618 !important;
    }
    .navbar-collapse {
        background-color: white !important;
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-nav li a{
        color: #372618;
    }
    #menuright {
        margin-top: 0px;
        padding-top: 0px;
    }

    #menuleft {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .loginringht{
        display: block !important;
        float: right;
        margin-top: -60px
    }
    .logindn{
        display: none !important;
    }

    #btn-dn{
        margin-left: -130px;
    }
    #img_top_img{
        width:100%;
        height: auto;
    }
    #img_mid_bottom_img{
        width:100%;
        height: auto;
        margin-left: 0px;
    }
    #img_left_bottom_img{
        width:100%;
        height: auto;
    }
    #img_right_bottom_img{
        width:100%;
        height: auto;
        margin-left: 0px;
    }
    #img_right_img{
        width:100%;
        height: auto;
        margin-left: 10px;
    }
    #img_left_img{
        width:100%;
        height: auto;
        margin-right: 10px;
        margin-left: 10px;
    }
    .bannerDecription {
        margin-bottom: 100px;
        width: 600px;
        text-align: justify;
        margin-left: -250px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: rgba(249, 252, 233, 0.5);
    }
    .myh3{
        font-size: 13px;
    }
    .myh4{
        font-size: 12px;
    }
    #screen_send{
        margin-left: 0px!important;
        margin-top: 0px!important;
    }
}
@media(width: 767px)
{
    #trangChu{
        padding-left: 15px;
    }
    .menurightipd{
        margin-top: 0px !important;
    }
    .loginringht{
        display: none; !important;
        float: right;
        margin-top: -60px
    }
    .logindn{
        display: block; !important;
    }

    #btn-dn{
        margin-left: 0px
    }
    #img_top_img{
        width:100%;
        height: auto;
    }
    #img_mid_bottom_img{
        width:100%;
        height: auto;
        margin-left: 0px;
    }
    #img_left_bottom_img{
        width:100%;
        height: auto;
    }
    #img_right_bottom_img{
        width:100%;
        height: auto;
        margin-left: 0px;
    }
    #img_right_img{
        width:100%;
        height: auto;
        margin-left: 10px;
    }
    #img_left_img{
        width:100%;
        height: auto;
        margin-right: 10px;
        margin-left: 10px;
    }
    #screen_send{
        margin-left: 0px!important;
        margin-top: 0px!important;
    }
}

