body {
    overflow-x: hidden;
}

#van_ban {
    font-family: verdana;
    text-align: justify;
    padding-top: 10px;
    letter-spacing: 1px;
    font-weight: bold;
}

#row_so {
    background-image: url('../img/bg_img.jpg');
    width: 100%;
    height: 560px;
    /*background-repeat: no-repeat;*/
    margin-left: 0px;
    margin-right: 0px;
}

.space {
    margin-top: 50px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    /*padding-top: 10px;*/
    /*letter-spacing: 1px;*/
    font-weight: bold;
    padding-bottom: 10px;
}

#conten_banner {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    /*padding-top: 10px;*/
    /*letter-spacing: 1px;*/
    font-weight: bold;
    font-size: 13px;
}

#conten_banner > h4 > b {
    color: #FFFCD5;

}

#conten_banner2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    /*padding-top: 10px;*/
    /*letter-spacing: 1px;*/
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

#banner_5 {
    margin-top: 20px;
}

#khoang_cach {
    margin-bottom: 0px;
}

#footer_banner {
    margin-top: 150px;
}

#foo {
    font-family: verdana;
    text-align: left;
    padding-top: 10px;
    font-size: 14px;
    font-weight: bold;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 25px; /* Location of the box */
    left: 0;
    top: 0;
    position: relative;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    right: 0;
    margin: auto;

    padding: 5px;
    border: 1px solid #888;
    width: 40%;
}

#model-content-dn {
    background-color: #fefefe;
    right: 0;
    margin: auto;
    padding: 15px;
    border: 1px solid #888;
    width: 60%;
}

/* The Close Button */

#cbNhoMatKhau {
    background-color: transparent;
    border: none;
}

.btnUser {
    background-color: transparent;
    border: none;
}

#btn_gui {
    background-color: #8B4726;
    border-color: #8B4726;
    text-align: center;
    font-weight: bold;
    color: white;
}

.btnThamGia {
    margin: 5px;
    text-align: center !important;
    font-weight: bold;
}

.cautraloi {
    list-style: none;
    text-align: justify;
}

.name-video > a:link {
    font-size: large;
    font-weight: bold;
    color: #362516 !important;
    text-decoration: none;
}

.name-video > a:visited {
    text-decoration: none;
}

.name-video > a:hover {
    text-decoration: underline;
}

.name-video > a:active {
    text-decoration: underline;
}

.caption {
    font-weight: bolder;
    text-align: justify;
    padding-bottom: 20px;
}

.caps > p > a {
    font-size: medium;
}

.link_video {
    color: #362516 !important;
}

.link_tim_hieu {
    color: #333;
}

.noi_dung_link_tim_hieu {
    color: #772221;
    font-weight: bold;
    text-align: justify;
}

.indi {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.banner_margin {
    margin-right: 0px !important;
}

#img_top_img {
    height: 270px;
    width: 835px;
    padding: 0px !important;
    margin-left: 0px !important;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
}

#img_mid_bottom_img {
    height: 270px;
    width: 265px;
    padding: 0px !important;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#img_left_bottom_img {
    height: 270px;
    width: 265px;
    padding: 0px !important;
    margin-left: 0px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#img_right_bottom_img {
    height: 270px;
    width: 265px;
    padding: 0px !important;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#img_right_img {
    position: relative;
    height: 568px;
    width: 280px;
    padding: 0px !important;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
}

#img_left_img {
    position: relative;
    height: 270px;
    width: 845px;
    margin-right: 10px;
    margin-left: 15px;
    padding: 0px !important;
}

.captions > p > a {
    color: white;
    font-size: large;
    font-weight: bold;
}

.captions_top > p > a {
    color: white;
    font-size: 24px;
}

.captions_bottom > p > a {
    padding-top: 20px;
    color: white;
    font-size: large;
}

.captions_right > p > a {
    color: white;
    font-size: 24px;
}

.captions > p > a:visited {
    text-decoration: none;
}

.captions > p > a:hover {
    text-decoration: none;
}

.captions > p > a:active {
    text-decoration: none;
}

.carousel-caption > center > p > a:active {
    color: blue;
}

.caption_deals > h3 > a {
    color: #680101;
    font-weight:bold;
}

.title_deals{
    color: #362516;
    font-weight: bold;
    margin-top: -20px;
    margin-bottom: 20px;
}

.content_deals{
    font-family: verdana;
    text-align: justify;
    margin-top: 10px;
    padding-top: 10px;
    letter-spacing: 1px;
    font-weight: bold;
}

.title_h2{
    font-weight: bold;
    color: #680101;
    text-align: center;
}

.title_h3{
    font-weight: bold;
    color: #362516;
    text-align: left;
}

.content_{
    color: #362516;
    text-align: justify;
}

.pages{
    text-align: center;
    padding: 2px;
}

.pages > p > a {
    color: #680101;
}

.pages > p > a:visited {
    font-weight: bolder;
    text-decoration: none;
}

.pages > p > a:hover {
    text-decoration: none;
}

.pages > p > a:active {
    font-weight: bolder;
    text-decoration: none;
}

#map {
    height: 900px;
}

.a_active{
    font-weight: bolder;
}

.h4_content_resort{
    font-weight: bold;
    font-family: verdana;
    color: #680101;
    text-align: justify;
}

.h5_content_resort{
    font-family: verdana;
    text-align: justify;
}

#map_google{
    margin-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 40px;
 }
